In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
crimes_2001_04 = pd.read_csv('Chicago_Crimes_2001_to_2004.csv', error_bad_lines=False)
print('crimes_2001_04 shape',crimes_2001_04.shape)
crimes_2005_07 = pd.read_csv('Chicago_Crimes_2005_to_2007.csv', error_bad_lines=False)
print('crimes_2005_07 shape', crimes_2005_07.shape)
crimes_2008_11 = pd.read_csv('Chicago_Crimes_2008_to_2011.csv', error_bad_lines=False)
print('crimes_2008_11 shape', crimes_2008_11.shape)
crimes_2012_17 = pd.read_csv('Chicago_Crimes_2012_to_2017.csv', error_bad_lines=False)
print('crimes_2012_17 shape', crimes_2012_17.shape)

Skipping line 1513591: expected 23 fields, saw 24

('crimes_2001_04 shape', (1923515, 23))

Skipping line 533719: expected 23 fields, saw 24

('crimes_2005_07 shape', (1872343, 23))

Skipping line 1149094: expected 23 fields, saw 41

('crimes_2008_11 shape', (2688710, 23))
('crimes_2012_17 shape', (1456714, 23))

In [7]:
crimes_2001_17 = pd.concat([crimes_2001_04, crimes_2005_07, crimes_2008_11, crimes_2012_17])

In [8]:
crimes_2001_17.shape

(7941282, 23)

In [9]:
crimes_2001_17.columns

Index([u'Unnamed: 0', u'ID', u'Case Number', u'Date', u'Block', u'IUCR',
       u'Primary Type', u'Description', u'Location Description', u'Arrest',
       u'Domestic', u'Beat', u'District', u'Ward', u'Community Area',
       u'FBI Code', u'X Coordinate', u'Y Coordinate', u'Year', u'Updated On',
       u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [10]:
print(crimes_2001_17.head(10))

   Unnamed: 0       ID Case Number                    Date  \
0         879  4786321    HM399414  01/01/2004 12:01:00 AM
1        2544  4676906    HM278933  03/01/2003 12:00:00 AM
2        2919  4789749    HM402220  06/20/2004 11:00:00 AM
3        2927  4789765    HM402058  12/30/2004 08:00:00 PM
4        3302  4677901    HM275615  05/01/2003 01:00:00 AM
5        3633  4838048    HM440266  08/01/2004 12:01:00 AM
6        3756  4791194    HM403711  01/01/2001 11:00:00 AM
7        4502  4679521    HM216293  03/15/2003 12:00:00 AM
8        4564  4792195    HM405396  09/16/2004 10:00:00 AM
9        4904  4680124    HM282389  01/01/2003 12:00:00 AM

                     Block  IUCR                Primary Type  \
0        082XX S COLES AVE  0840                       THEFT
1          004XX W 42ND PL  2825               OTHER OFFENSE
2      025XX N KIMBALL AVE  1752  OFFENSE INVOLVING CHILDREN
3       045XX W MONTANA ST  0840                       THEFT
4       111XX S NORMAL AVE  0841                       THEFT
5      012XX S HARDING AVE  0841                       THEFT
6  114XX S ST LAWRENCE AVE  0266         CRIM SEXUAL ASSAULT
7       090XX S RACINE AVE  5007               OTHER OFFENSE
8       003XX W HUBBARD ST  0890                       THEFT
9    009XX S SPAULDING AVE  0840                       THEFT

                      Description     Location Description Arrest  \
0   FINANCIAL ID THEFT: OVER $300                RESIDENCE  False
1         HARASSMENT BY TELEPHONE                RESIDENCE  False
2   AGG CRIM SEX ABUSE FAM MEMBER                RESIDENCE  False
3   FINANCIAL ID THEFT: OVER $300                    OTHER  False
4  FINANCIAL ID THEFT:$300 &UNDER                RESIDENCE  False
5  FINANCIAL ID THEFT:$300 &UNDER                APARTMENT  False
6                       PREDATORY                RESIDENCE   True
7         OTHER WEAPONS VIOLATION  RESIDENCE PORCH/HALLWAY  False
8                   FROM BUILDING                RESIDENCE  False
9   FINANCIAL ID THEFT: OVER $300                RESIDENCE  False

               ...                Ward  Community Area  FBI Code  \
0              ...                 7.0            46.0        06
1              ...                11.0            61.0        26
2              ...                35.0            22.0        20
3              ...                31.0            20.0        06
4              ...                34.0            49.0        06
5              ...                24.0            29.0        06
6              ...                 9.0            50.0        02
7              ...                21.0            73.0        26
8              ...                42.0             8.0        06
9              ...                24.0            29.0        06

   X Coordinate  Y Coordinate    Year              Updated On Latitude  \
0           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
1     1173974.0   1.87676e+06  2003.0  04/15/2016 08:55:02 AM  41.8172
2           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
3           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
4     1174948.0   1.83105e+06  2003.0  04/15/2016 08:55:02 AM  41.6918
5           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
6     1182247.0   1.82938e+06  2001.0  08/29/2006 03:46:28 AM   41.687
7     1169911.0   1.84483e+06  2003.0  04/15/2016 08:55:02 AM  41.7297
8           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
9     1154521.0   1.89576e+06  2003.0  04/15/2016 08:55:02 AM  41.8698

   Longitude                       Location
0        NaN                            NaN
1 -87.637328  (41.817229156, -87.637328162)
2        NaN                            NaN
3        NaN                            NaN
4 -87.635116  (41.691784636, -87.635115968)
5        NaN                            NaN
6 -87.608445   (41.687020002, -87.60844523)
7 -87.653159  (41.729712374, -87.653158513)
8        NaN                            NaN
9 -87.708180  (41.869772159, -87.708180162)

[10 rows x 23 columns]

In [11]:
crimes_2001_17.dtypes

Unnamed: 0                int64
ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate             object
Year                    float64
Updated On               object
Latitude                 object
Longitude               float64
Location                 object
dtype: object

In [12]:
crimes_2001_17.isnull().sum()

Unnamed: 0                   0
ID                           0
Case Number                  7
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      1990
Arrest                       0
Domestic                     0
Beat                         0
District                    91
Ward                    700224
Community Area          702091
FBI Code                     0
X Coordinate            105573
Y Coordinate            105573
Year                         0
Updated On                   0
Latitude                105573
Longitude               105574
Location                105574
dtype: int64

In [13]:
crimes_2001_17['Primary Type'].value_counts()

THEFT                                1640506
BATTERY                              1442716
CRIMINAL DAMAGE                       923000
NARCOTICS                             885431
OTHER OFFENSE                         491922
ASSAULT                               481661
BURGLARY                              470958
MOTOR VEHICLE THEFT                   370548
ROBBERY                               300453
DECEPTIVE PRACTICE                    280931
CRIMINAL TRESPASS                     229366
PROSTITUTION                           86401
WEAPONS VIOLATION                      77429
PUBLIC PEACE VIOLATION                 58548
OFFENSE INVOLVING CHILDREN             51441
CRIM SEXUAL ASSAULT                    29868
SEX OFFENSE                            28707
GAMBLING                               18806
LIQUOR LAW VIOLATION                   17513
INTERFERENCE WITH PUBLIC OFFICER       15710
ARSON                                  13097
HOMICIDE                                9051
KIDNAPPING                              7756
INTIMIDATION                            4636
STALKING                                3734
OBSCENITY                                496
PUBLIC INDECENCY                         163
OTHER NARCOTIC VIOLATION                 144
NON-CRIMINAL                              97
CONCEALED CARRY LICENSE VIOLATION         90
NON - CRIMINAL                            38
RITUALISM                                 31
HUMAN TRAFFICKING                         28
NON-CRIMINAL (SUBJECT SPECIFIED)           4
DOMESTIC VIOLENCE                          2
Name: Primary Type, dtype: int64