In [3]:
import zipfile
from zipfile import ZipFile

In [7]:
def unzip_weed_files(zipFilePath, unzip_directory):
    weeds_zip = ZipFile(zipFilePath, 'r')
    weeds_zip.extractall(unzip_directory)
    weeds_zip.close()

In [8]:
unzip_weed_files('deepweedsx.zip', 'unzipped_weeds_data')

In [9]:
unzip_weed_files('unzipped_weeds_data/DeepWeeds_Images_256.zip', 'unzipped_weeds_data/unzipped_weeds_imgs')

In [10]:
import os, shutil

In [11]:
len(os.listdir('unzipped_weeds_data/unzipped_weeds_imgs'))

17536

In [12]:
len(os.listdir('unzipped_weeds_data'))

4

In [13]:
import pandas as pd

In [14]:
test_df = pd.read_csv('unzipped_weeds_data/test_set_labels.csv')

In [15]:
test_df.head()

                   Label  Species
0  20160928-141107-0.jpg        0
1  20160928-141135-0.jpg        0
2  20161207-110730-0.jpg        0
3  20161207-110850-0.jpg        0
4  20161207-112015-0.jpg        0

In [16]:
test_df.tail()

                      Label  Species
2496  20180322-120255-2.jpg        8
2497  20180322-120543-2.jpg        8
2498  20180322-120934-2.jpg        8
2499  20180322-121026-2.jpg        8
2500  20180322-121815-2.jpg        8

In [19]:
test_img_label_dict = dict(zip(test_df['Label'], test_df['Species']))

In [18]:
test_df.dtypes

Label      object
Species     int64
dtype: object

In [50]:
main_df = pd.read_csv('unzipped_weeds_data/train_set_labels.csv')

In [51]:
main_df.head()

                   Label  Species
0  20161207-111327-0.jpg        0
1  20170718-095159-2.jpg        0
2  20170811-133439-1.jpg        0
3  20170811-133752-1.jpg        0
4  20170217-114015-0.jpg        0

In [52]:
main_df.tail()

                       Label  Species
15002  20171205-133817-2.jpg        8
15003  20171205-141022-2.jpg        8
15004  20180322-112652-2.jpg        8
15005  20171212-100725-3.jpg        8
15006  20171220-082953-3.jpg        8

In [53]:
main_df.dtypes

Label      object
Species     int64
dtype: object

In [54]:
main_img_label_dict = dict(zip(main_df['Label'], main_df['Species']))

In [20]:
base_dir = 'unzipped_weeds_data'
test_dir = os.path.join(base_dir, 'test_data')
os.mkdir(test_dir)

In [48]:
main_dir = os.path.join(base_dir, 'main_data')
os.mkdir(main_dir)

In [23]:
def create_weed_type_dir(parent_dir):
    for i in range(9):
        weed_type_dir = os.path.join(parent_dir, 'weed_type_' + str(i))
        os.mkdir(weed_type_dir)

In [24]:
create_weed_type_dir(test_dir)

In [49]:
create_weed_type_dir(main_dir)

In [31]:
img_files = os.listdir('unzipped_weeds_data/unzipped_weeds_imgs')

In [40]:
def copy_paste_weed_imgs(img_label_dict, copy_dir, paste_dir):
    for img in img_files:
        if img in img_label_dict:
            src = os.path.join(copy_dir, img)
            weed_type_dir = os.path.join(paste_dir, 'weed_type_' + str(img_label_dict[img]))
            dst = os.path.join(weed_type_dir, img)
            shutil.copyfile(src, dst)

In [41]:
copy_paste_weed_imgs(test_img_label_dict, 'unzipped_weeds_data/unzipped_weeds_imgs', 'unzipped_weeds_data/test_data')

In [55]:
copy_paste_weed_imgs(main_img_label_dict, 'unzipped_weeds_data/unzipped_weeds_imgs', 'unzipped_weeds_data/main_data')

Now we will split the 'main_data' into 'train_data' and 'val_data'. 20% of the data in main data will be used for validation.

In [59]:
train_dir = os.path.join(base_dir, 'train_data')
os.mkdir(train_dir)
val_dir = os.path.join(base_dir, 'val_data')
os.mkdir(val_dir)

In [60]:
create_weed_type_dir(train_dir)
create_weed_type_dir(val_dir)